

<div class="row">
  <div class="col-sm-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
      <nb-card-header>
        <div class="action-groups-header" style="float: left; clear: both">
          Files List
        </div>
        <button class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <nb-actions size="medium" style="float: right; font-size: 10px;">
          <nb-action color="success" nbPopover="Add new customer" nbPopoverTrigger="hint"
            nbPopoverPlacement="bottom" (click)="addFiles()">
            <nb-icon id="addUser" icon="file-text-outline"></nb-icon></nb-action>
        </nb-actions>
      </nb-card-header>
      <nb-card-body  style="height: 200pxpx;min-height: 580px;padding-bottom: 31px;">
        <div class="row">
          <div class="col-sm-12">
            <div class="clear"></div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">File</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody *ngIf="data?.length != 0">
                <tr *ngFor="let file of data;let i = index">

                  <th scope="row">{{ i + 1 }}</th>
                  <td class="w-25">
                    <img [src]="this.auth.domain + '/images/files/'+file.source" class="img-fluid img-thumbnail" alt="Sheep">
                  </td>
                  <td scope="col" id="options">
                    <span>
                      <nb-action   nbPopover="Delete User" nbPopoverTrigger="hint"
                      nbPopoverPlacement="bottom" (click)="deleteCustomer({id : file.id, source : file.source })"><nb-icon id="deleteUser" class="active" icon="trash-2-outline"></nb-icon></nb-action>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<!--


<div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Day</th>
		      <th scope="col">Image</th>
		      <th scope="col">Article Name</th>
		      <th scope="col">Author</th>
		      <th scope="col">Words</th>
		      <th scope="col">Shares</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td class="w-25">
			      <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg" class="img-fluid img-thumbnail" alt="Sheep">
		      </td>
		      <td>Bootstrap 4 CDN and Starter Template</td>
		      <td>Cristina</td>
		      <td>913</td>
		      <td>2.846</td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td class="w-25">
			      <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-5.jpg" class="img-fluid img-thumbnail" alt="Sheep">
		      </td>
		      <td>Bootstrap Grid 4 Tutorial and Examples</td>
		      <td>Cristina</td>
		      <td>1.434</td>
		      <td>3.417</td>
		    </tr>
		  </tbody>
		</table>
    </div>
  </div>
</div>



 -->
